.page {
  margin-top: 5vh;
}

.linkBack {
  text-decoration: none;
  margin-left: 5rem;
  margin-top: 5rem;
}

.layout {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.order {
  display: flex;
  flex-direction: column;
  border-style: ridge;
  border-radius: 0.5rem;
  width: 40rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.rowLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0;
  margin-bottom: -0.5rem;
}

.line {
  margin-bottom: 2rem;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.doneSymbol {
  color: green;
  font-weight: bold;
  font-size: 2rem;
}

.cancelledSymbol {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.id {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}
