.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.btn {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.orderStatus {
  margin-top: 2rem;
  border-style: ridge;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-left: 15%;
  padding-right: 15%;
}

.heading2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.totalPrice {
  margin-top: 1.5rem;
  font-weight: bold;
}

.orderedItem {
  margin-bottom: 0;
}

.errorText {
  color: red;
}

.successText {
  color: green;
}

.link1 {
  text-decoration: none;
  align-self: first baseline;
  margin-left: 15rem;
}
