.drink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: ridge;

  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 60%;
}

.btn {
  border-radius: 5rem;
}

.btn h4 {
  font-weight: 900;
}

.first {
  width: 35%;
}

.third {
  width: 25%;
}
.fourth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.number {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 3rem;
}

@media (max-width: 69em) {
  .drink {
    width: 80vw;
  }
}

@media (max-width: 53.2em) {
  .drink {
    width: 95vw;
  }
}

@media (max-width: 32em) {
  .first {
    font-size: 1rem;
  }
  .third {
    font-size: 1rem;
  }
  .heading4 {
    font-size: 1rem;
  }

  .number {
    padding-right: 0.5rem;
    padding-left: 0.7rem;
    width: 2rem;
  }
}
