.drink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: ridge;

  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 60%;
}

.btn {
  border-radius: 5rem;
}

.btn h4 {
  font-weight: 900;
}

.first {
  width: 35%;
}

.third {
  width: 25%;
}
.fourth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.number {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 3rem;
}
