.box {
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-radius: 0.5rem;
  justify-content: center;
  width: 30%;
  margin: auto;
  padding: 3rem;
  margin-top: 10vh;
}

.registerBtn {
  margin-top: 2rem;
}

.link1 {
  text-decoration: none;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading2 {
  margin-bottom: 1.7rem;
}

.passwordBad {
  color: red;
  font-size: 0.8rem;
  text-align: center;
}

.registerError {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.registerSuccess {
  text-align: center;
  color: green;
  margin-top: 0.5rem;
}

@media (max-width: 80em) {
  .box {
    width: 40vw;
  }
}

@media (max-width: 62.5em) {
  .box {
    width: 50vw;
  }
}

@media (max-width: 50em) {
  .box {
    width: 60vw;
  }
}

@media (max-width: 38em) {
  .box {
    width: 80vw;
  }
}

@media (max-width: 31em) {
  .box {
    width: 98vw;
  }
}
