.page {
  margin-top: 5vh;
}

.layout {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.heading {
  margin-bottom: 3rem;
  font-weight: bold;
}

.option {
  background-color: rgb(178, 174, 174);
  border-radius: 0.5rem;
  transition: 0.3s;
  width: 25rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  padding: 1rem;
  padding-left: 2rem;
  text-align: center;
}

.option:hover {
  color: white;
  background-color: rgb(9, 101, 18);
}

.linkBack {
  text-decoration: none;
  margin-left: 5rem;
  margin-top: 5rem;
}

@media (max-width: 35em) {
  .linkBack {
    margin-left: 0.6rem;
  }
}

@media (max-width: 29em) {
  .option {
    width: 98vw;
  }
}
